body
{
	background-color: #38003d;
}
p
{	
	font-size: 15pt;	
	color: #00ff87;
}
h2 
{
	color: #eaff04;
	font-family: Harlow Solid;
}
h3
{
	color: #05f1ff;
}
h1
{
	color: #ff015b;
}

li
{
	text-align: center;
	font-size: 35pt;
	color: #05f1ff;
}
ol
{
	text-align: center;
}